@font-face{
	font-family: 'ShinhanCard';
	src: url('../font/ShinhanCardL.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: 'ShinhanCard';
	src: url('../font/ShinhanCardM.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: 'ShinhanCard';
	src: url('../font/ShinhanCardB.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

